.header {
  background-color: #110c0c;
  color: rgb(31, 5, 5);

  text-align: center;
}

.navbar {
  background-color: #333;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: #a88787;
}
.navbar-nav{
  font-size: 18px;
  
  color: #d34a4a;
}

.nav-link {
  cursor: pointer;
  text-decoration: none;
  color: #e29292;
}

.nav-link:hover {
  color: #007bff;
}

